header{position: fixed; top: 0px; left: 0; width: 100%; height: 70px; background-color: #1c1c1c;  z-index: 100;}
.title{padding-bottom: 2rem; color: #626262; }
.title h2{ font-size: 2.5rem; color: #343434; position: relative;}
.title h2::after{content: 'we are best room '; width: 100%;  position: absolute; top: -10px; left: 0; font-size: 12px; text-align: center;}

/* 헤더 영역 */
header .logo{width: 250px; color: #FFF;}
header .container{height: 100%; justify-content: space-between; align-items: center;}
header .menu{color: #fff; width: 500px; height: 100%;  align-items: center}
header .menu .item{flex: 1; width: 100%; height: 100%; text-align: center; display: flex; align-items: center; justify-content: center;}
header .menu button{border-radius: 5px; background-color: #fff; color: #424242; padding: .2rem .6rem; font-size: 14px; font-weight: 700;}
/* 슬라이드 영역 */
main #slide .slide{width: 100%; height: calc(100vh ); position: relative; display: flex; justify-content: center;}
main #slide img{width: 100%; height: 100%;filter: brightness(.6); }
main #slide .text{position: absolute; width: 100%; top: 30%; z-index: 1;text-align: center; color: #ebebeb; font-size: 6rem; font-weight: 500;}
main #slide .slide_ctr{width: 600px; height: 120px; margin: 0 auto; position: absolute; top: 80%; left: calc(100vw / 2 - 300px); box-shadow: 3px 5px 13px #2e2d2d85;}
main #slide .slide_ctr>div{flex: 1; display: flex; justify-content: center; align-items: center;}
main #slide .slide_ctr .item{text-align: center; background-color: #fff; font-size: 2rem; font-weight: bold; color: #424242;}
main #slide .slide_ctr .not_item{background-color: #1c1c1c; color: #e2e2e2;text-align: center;}
/* 갤러리 영역 */
main #gal .container{gap: 150px; height: 800px; padding-top: 100px;}
main #gal .container>div{flex: 1;}
main #gal .container .text_wrap{padding-top: 4.5rem; display: flex; align-items: center; gap: 3rem; flex-direction: column; text-align: center; color: #626262;}
main #gal .container .text_wrap h2{font-size: 5rem; font-weight: 300;  position: relative; line-height: 80px;}
main #gal .container .text_wrap h2::after{content: ''; width: 30%; height: 5px; position: absolute; background-color: #626262; top: -16%; left: calc(100% - 65%);}
main #gal .container .text_wrap p{font-size: 15px;}
main #gal .container .text_wrap button{width: 120px; line-height: 40px; background-color: #bc9f7c; border: unset; color: #fff; text-align: center; font-weight: 500;}
main #gal .container .img_wrap{position: relative; }
main #gal .container .img_wrap>div{position: absolute;  filter: brightness(.8); }
main #gal .container .img_wrap>div:nth-child(1){width: 400px; height: 450px; z-index: 1; transform: translate();}
main #gal .container .img_wrap>div:nth-child(2){width: 350px; height: 400px; z-index: 2; transform: translate(250px, 100px);}
main #gal .container .img_wrap>div:nth-child(3){width: 450px; height: 350px; z-index: 3; transform: translate(-100px, 300px);}
/* 방 영역 */
#room{background-color: #f9f9f9; padding: 6rem 0rem;}
#room .content_wrap{grid-template-columns: repeat(4, 300px);  gap: 1rem;}
#room .content_wrap .item .img_box{height: 300px; filter: brightness(.7);}
#room .content_wrap .item .text_wrap{padding: 1rem; display: grid; gap: .8rem; color: #424242;}
#room .content_wrap .item .text_wrap h2{font-weight: 700; font-size: 2rem;}
#room .content_wrap .item .text_wrap button{width: 250px; background-color: #242424; color: #fff; line-height: 35px;}
#room .content_wrap .item:nth-child(1){grid-column: 1/3; grid-row: 1/3;}
#room .content_wrap .item:nth-child(1) .img_box{height: 350px; filter: brightness(.8);}
/* 지역영역 */
#location{display: flex;}
#location>div{flex: 1; width: 100%;}
#location .loction_wrap{ height: 900px; grid-template-columns: repeat(2, 1fr);}
#location .loction_wrap .img_box{height: 100%; filter: brightness(.7);}
#location .right{padding: 4rem; display: flex; flex-direction: column; background-color: #111; }
#location .right .m_title{line-height: 70px; font-size: 5rem; color: #fff; }
#location .right .tm_text{font-size: 14px; color: #fff; }
#location .right .m2_title{line-height: 80px; font-size: 5rem; color: #bc9f7c; }
#location .right .text_wrap{display: flex; padding: 5rem 0rem; gap: 2rem; color: #bebebe;}
#location .right .text_wrap p{flex: 1;}
#location .right button{width: 350px;  background-color: #242424; border: unset; color: #fff; line-height: 40px;}
/* 지역영역밑에 텍스트 */
article {width: 1000px; margin: 3rem auto; text-align: center; }
/* 그리드 이미지 영역 */
#grid_img{padding: 5rem 0rem; background-color: #f9f9f9;}
#grid_img .container{display: grid; grid-template-columns: repeat(2, 1fr);}
#grid_img .container>div{height: 550px;}
#grid_img .container>div img{filter: brightness(.6);}
#grid_img .container .text_item{color: #424242;}
#grid_img .container .text_item{padding: 0rem 3rem; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 2rem; background-color: #fff; text-align: center;}
#grid_img .container .text_item .t_title{color: #bc9f7c;}
#grid_img .container .text_item h2{font-size: 2rem; font-weight: 700;}
#grid_img .container .text_item button{width: 150px; line-height: 35px; background: #fff; border: 1px solid #bc9f7c; font-weight: 700; color: #bc9f7c; }
/* 백그라운드 이미지 영역 */
#backImg .img_box{height: 400px; position: relative;}
#backImg .img_box img{filter: brightness(.8);}
#backImg .img_box .text_box{position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 1rem; z-index: 1; color: #fff;} 
#backImg .img_box .text_box .bigText{line-height: 50px; color: #fff; font-size: 3rem; }
#backImg .img_box .text_box .cial{width: 50px; height: 50px; border: 3px solid #fff; border-radius: 50%;}

